{% extends "generic/base.html" %}
{% load staticfiles %}
{% load static %}
{% load extras %}
{% load tz %}

{% block title %}Detail{% endblock title %}
{% block content %}
<div class="book_detail">
<h3>{{ book.title }}</h3>
<p>{{ book.author }}</p>
<img src="{% static "assets/messy_middle.jpg" %}" alt="bookimage" width="300" height="400"/>

<img src="{% static '/assets/{{ book.cover_image }}' %}" alt="bookimage" width="300" height="400"/>

<img src="{{ book.cover_image.url }}" alt="book.cover_image.url">

<p>Status: {{ book.status }}</p>
<p>Publish year: {{ book.year }}</p>
<p>Added date: {{ book.date_added }}</p>
<p>Last borrowed: {{ book.last_borrowed }}</p>
</div>
{% endblock content %}
